# Configuration for jira updater

# Installation directory layout
#
# JIRA_PATH/jira-1.2
# JIRA_PATH/jira-1.3
# JIRA_PATH/current -> $JIRA_PATH/jira-1.3
#
# Path to jira installation base directory
export JIRA_PATH=
# Currently only psql supported
export JIRA_DATABASE=

# Jira type. jira-core jira-software and jira-servicedesk
export JIRA_TYPE=jira-software

# Jira user
export JIRA_USER=jira

# Uncomment if desired backup directory is not $JIRA_PATH/backup
# export BACKUPDIR=
